<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Drive_Dao">
	<select id="driveList" parameterType="drive" resultType="drive">
		SELECT rownum cnt, fname, fno,
		to_char(regdte,'yyyy-mm-dd') regdte, to_char(uptdte,'yyyy-mm-dd') uptdte, path
	 	FROM files f
		WHERE path = #{path}
	</select>
</mapper>