<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Alert_Dao">

	<select id="alertList" parameterType="string" resultType="alert">
		SELECT a.*, b.cnt
		FROM ALERT a, (SELECT count(*) cnt
		   FROM ALERT
		WHERE id = #{id}
		AND state='0') b
		WHERE id = #{id}
		AND state='0'
	</select>
	
	<select id="alertCount" parameterType="string" resultType="int">
		SELECT count(no) alertCount FROM alert WHERE id=#{id} AND state='0'
	</select>
	
	<update id="alertState" parameterType="string">
		UPDATE alert SET state='1' WHERE no=#{no}
	</update>
	
	<delete id="alertDelete" parameterType="int">
		DELETE FROM alert WHERE NO=#{no}
	</delete>
</mapper>