<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Calendar_Dao">

	<resultMap type="calendar" id="calRst">
		<result column="startdte" property="start"></result>
		<result column="enddte" property="end"></result>
		<result column="url" property="urllink"></result>
	</resultMap>
	<select id="calList" resultMap="calRst">
		select * from calendar where writer=#{writer}
	</select>
	
	<insert id="insCalendar" parameterType="calendar">
		INSERT INTO calendar values(cal_seq.nextval,#{title},
			#{start},#{end},#{writer},
			#{textColor},#{backgroundColor},
			#{allDay},#{content},#{urllink})
	</insert>
	
	<update id="uptCalendar" parameterType="calendar">
			update calendar 
			set title = #{title},
				startdte = #{start},
				enddte = #{end},
				writer = #{writer},
				content = #{content},
				textColor = #{textColor},
				backgroundColor = #{backgroundColor},
				allDay = #{allDay},
				url = #{urllink}
			where id = #{id}
	</update>
	
	<delete id="delCalendar" parameterType="int">
			delete from calendar where id=#{id}
	</delete>
	
	
	<select id="getProSch" parameterType="string" resultType="project">
		SELECT DISTINCT p.REGDTE,p.DEADLINE,p.SUBJECT,p.prjno
		FROM project p, PROJECTMEMBER m WHERE p.prjno=m.PRJNO AND owner=#{id} OR p.tlid=#{id}
	</select>
	
	<insert id="insCalPro" parameterType="calendar">
		INSERT INTO calendar values(cal_seq.nextval,#{title},
			#{start},#{end},#{writer},
			'white','orange',
			0,null,null)
	</insert>
	<select id="getTitle" parameterType="string" resultType="calendar">
		select title from calendar where writer = #{writer}
	</select>
	
</mapper>