<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Risk_Dao">
	<select id="riskList" resultType="risk" parameterType="risk">
			select * from Risk
			order by riskpriority
	</select>
	<select id="totCnt" resultType="int" 
			parameterType="risksch">
			select count(*)
			from risk 
			where prjno=#{prjno}
			and riskname like '%'||#{schKeyword}||'%'
	</select>
	<select id="pagingRisk" resultType="risk" parameterType="risksch">
			select *
			from
			    (select rownum cnt, A.*
			    from
			        (select *
			        from RISK 
			        where 1=1
			        and prjno = #{prjno}
			        AND riskname like '%'||#{schKeyword}||'%'
			        order by riskpriority
			        ) A
			    )
			where cnt between #{start} and #{end}
	</select>
   	<select id="getRisk" resultType="risk" parameterType="risk">
       		SELECT * FROM risk
			WHERE riskno= #{riskno}
  	</select>
  	<insert id="insertRisk" parameterType="risk">
  			INSERT INTO RISK (riskno, risklevel, riskpriority, 
  			riskmoniter, riskstate, riskname, id, prjno) VALUES
  			(risk_seq.nextval, 
  			#{risklevel},  #{riskpriority},
  			#{riskmoniter}, '발생', 
  			#{riskname}, #{id}, #{prjno})
  	</insert>
 	<update id="updateRisk" parameterType="risk">
		update risk
		set
			risklevel = #{risklevel},
			riskpriority = #{riskpriority},
			riskmoniter = #{riskmoniter},
			riskstate = #{riskstate},
			riskname = #{riskname}
	   where riskno = #{riskno}			
	</update>
  	<delete id="deleteRisk" parameterType="risk">
			DELETE FROM RISK
			WHERE RISKNO =#{riskno}
  	</delete>
    <select id="getStrategy" resultType="strategy" parameterType="strategy">
			SELECT * FROM risk r, strategy s
			WHERE r.RISKNO  = s.riskNO
			AND s.riskno=#{riskno}
  	</select>
  	<insert id="insertStrategy" parameterType="strategy">
  			INSERT INTO STRATEGY VALUES (strategy_seq.nextval, #{riskno}, #{risk_strategy})
  	</insert>
  	<update id="updateRisk2" parameterType="risk">
		update risk
		set
			riskstate = '처리중'
	   where riskno = #{riskno}			
	</update>
	<select id="pagingCare" resultType="strategycare" parameterType="strategycaresch">
		SELECT * FROM (
			SELECT rownum cnt, C.* FROM (
			SELECT careno, strategyno, care_content,e.ENAME,
						to_char(caredate,'YYYY-MM-DD HH24:MI:SS') caredate
			FROM STRATEGYCARE s , EMP e
			WHERE strategyno=#{strategyno}
			AND s.ID  =e.ID 
			ORDER BY caredate
			) C
			)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	<select id="totCntCare" resultType="int" 
			parameterType="strategycaresch">
			select count(*)
			from strategy
			where strategyno=#{strategyno}
	</select>
	<insert id="insertCare" parameterType="strategycare">
		INSERT INTO strategycare VALUES
		(care_seq.nextval, 
		#{strategyno}, 
		#{care_content},
		#{id}, 
		sysdate)
  	</insert>
</mapper>