<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Solution_Dao">
	<select id="totCnt" resultType="int" 
			parameterType="solutionsch">
			select count(*)
			from solution
			where riskno=#{riskno}
	</select>
	<select id="pagingSol" resultType="solution" parameterType="solutionsch">
		SELECT * FROM (
			SELECT rownum cnt, s.* FROM (
			SELECT solno, riskno, e.ename, solution_content, 
						to_char(solregdate,'YYYY-MM-DD HH24:MI:SS') solregdate
			FROM SOLUTION sol, EMP e
			WHERE riskno=#{riskno}
			AND sol.ID =e.ID 
			ORDER BY solregdate
			) S
			)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
  	<insert id="insertSol" parameterType="solution">
		INSERT INTO SOLUTION VALUES
		(sol_seq.nextval, 
		#{riskno},#{id}, 
		#{solution_content}, 
		sysdate)
  	</insert>
</mapper>