<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Gantt_Dao">
	<select id="showGantt" resultType="gantt" parameterType="gantt">
	SELECT g.* FROM gantt g, project p WHERE g.PRJNO =p.PRJNO AND p.prjno=#{prjno} 
	<if test="owner!=''">
	and g.owner=#{owner} 
	</if>
	ORDER BY START_date
	</select>
	<select id="showLink" resultType="link" parameterType="int">
		select l.* from link l, project p where p.prjno=l.prjno and p.prjno=#{prjno}
	</select>

	<insert id="insGantt" parameterType="gantt">
	INSERT INTO gantt values(#{id},#{text},'gantt.config.types.task',#{start_date},
	#{progress},#{owner},#{parent},#{duration},1,#{prjno},#{description},0,0)
	</insert>
	<update id="uptGantt" parameterType="gantt">
	update gantt set text=#{text}, start_date=#{start_date}, progress=#{progress}, owner=#{owner}, 
	parent=#{parent}, duration=#{duration},description=#{description} where id=#{id}
	</update>
	<delete id="delGantt" parameterType="string">
	delete from gantt where id=#{id} OR parent=#{id}
	</delete>
	<insert id="insLink" parameterType="link">
	INSERT INTO link values(link_seq.nextval,#{source},#{target},#{type},#{prjno})
	</insert>
	<delete id="delLink" parameterType="string">
	delete from link where id=#{id}
	</delete>
	<delete id="delLink2" parameterType="string">
	delete from link where target=#{target} or source=#{source}
	</delete>
	
	<select id="getMinMaxDate" parameterType="int" resultType="gantt">
	SELECT min(START_DATE) AS mindate,
	to_char(MAX(to_date(start_date,'yyyy-mm-dd') + duration),'yyyy-mm-dd') AS maxdate 
	FROM gantt WHERE PRJNO =#{prjno}
	</select>
	
	<select id="ganttDetail" parameterType="gantt" resultType="gantt">
	SELECT g1.*,to_char(to_date(g1.START_DATE,'yyyy-mm-dd') + g1.duration,'yyyy-mm-dd') AS end_date,
	g2.text AS parentText from gantt g1 LEFT join gantt g2 ON g1.PARENT =g2.ID where g1.prjno=#{prjno} AND g1.id=#{id}
	</select>
	<update id="uptProgress" parameterType="gantt">
	UPDATE gantt SET progress=#{progress}, description=#{description} WHERE id=#{id}
	</update>
</mapper>