<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Project_Dao">
	<insert id="insProject" parameterType="project">
	<selectKey keyProperty="prjno" resultType="int" order="BEFORE">
		select pro_seq.nextval from dual
	</selectKey>
	INSERT INTO project values(#{prjno},#{regdte},#{deadline},
	#{subject},#{tlid},#{deptid},#{openStatus},#{amount})
	</insert>
	<insert id="insProMem" parameterType="projectMember">
	insert into projectMember values(pro_seq.currval,#{owner},#{part})
	</insert>
	<insert id="inviteProMem" parameterType="projectMember">
	insert into projectMember values(#{prjno},#{owner},#{part})
	</insert>
	<delete id="delProjectMember" parameterType="projectMember">
	 DELETE FROM projectmember WHERE prjno=#{prjno} AND owner=#{owner}
	</delete>
	<!-- 부서 콤보박스 만들기 -->
	<select id="deptCom" resultType="superdept">
		SELECT deptid, dname FROM dept where dname NOT LIKE '최고경영진' and PARENTDEPT IS null
	</select>
	
	<select id="projectInfo" resultType="project" parameterType="int">
		select p.*, ename from project p, emp e where prjno=#{prjno} and p.tlid=e.ID
	</select>
	
	<!-- 검색된 사원 총 갯수 -->
	<select id="empInfoTot" resultType="int" parameterType="superempdeptsch">
	select count(*) from emp e, dept d 
	where 1=1 and e.deptid = d.deptid AND 
	(e.ename like '%'||#{keyword}||'%' or d.dname like '%'||#{keyword}||'%')
	and d.dname NOT LIKE '최고경영진'	
	</select>
	<!-- 검색된 사원 리스트 조회 -->
	<select id="empInfoList" resultType="SuperempDept" parameterType="superempdeptsch" >
	select * from (select rownum rm, d.dname, e.ename, e.job, e.id from emp e, dept d 
	where 1=1 and  e.deptid = d.deptid AND 
	(e.ename like '%'||#{keyword}||'%' or d.dname like '%'||#{keyword}||'%')
	and d.dname NOT LIKE '최고경영진')
	where rm between #{start} and #{end}
	</select>
	
	
	
	<!-- 페이징처리 : 전체 게시글 갯수 allproject -->
	<select id="allProjectTot" resultType="int" parameterType="projectsch">
	SELECT count(*) FROM project p,emp e, dept d 
	WHERE 1=1 and openstatus='0' AND e.id=p.tlid and d.deptid=p.deptid
	<if test='isCon!=null and isCon.equals("Y")'>
			and to_date(p.deadline,'yyyy-mm-dd')>=TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd') 
	</if>
	<if test='isCon!=null and isCon.equals("N")'>
			and TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd')>to_date(p.deadline,'yyyy-mm-dd')
	</if>
	AND (lower(subject) LIKE '%'||lower(#{keyword})||'%'
	or ename LIKE '%'||#{keyword}||'%')
	</select>
	<!--  allproject 전체 데이터 list -->
	<select id="allProject" parameterType="projectsch" resultType="project">
	select * from (SELECT rownum rm, p.*,e.ename, d.dname FROM project p,emp e, dept d 
	WHERE 1=1 AND e.id=p.tlid and d.deptid=p.deptid 
	<if test='auth!=1'>
		and openstatus='0'
	</if>
	<if test='isCon!=null and isCon.equals("Y")'>
			and to_date(p.deadline,'yyyy-mm-dd')>=TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd') 
	</if>
	<if test='isCon!=null and isCon.equals("N")'>
			and TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd')>to_date(p.deadline,'yyyy-mm-dd')
	</if>
	AND (lower(subject) LIKE '%'||lower(#{keyword})||'%'
	or ename LIKE '%'||#{keyword}||'%')) 
	where rm between #{start} and #{end}
	</select>
	<!-- 페이징처리 : 전체 게시글 갯수 myproject -->
	<select id="myProjectTot" resultType="int" parameterType="projectsch" >
	SELECT count(*) FROM  PROJECT p, PROJECTMEMBER m, dept d,
	(SELECT prjno,COUNT(*)+1 cnt FROM projectmember GROUP BY prjno) c
	WHERE 1=1 AND p.PRJNO =m.PRJNO AND m.OWNER =#{owner}
	AND d.DEPTID =p.DEPTID AND c.prjno=p.PRJNO
	<if test='isCon!=null and isCon.equals("Y")'>
			and to_date(p.deadline,'yyyy-mm-dd')>=TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd') 
	</if>
	<if test='isCon!=null and isCon.equals("N")'>
			and TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd')>to_date(p.deadline,'yyyy-mm-dd')
	</if>
	AND lower(p.subject) LIKE '%'||lower(#{keyword})||'%'
	</select>
	<!--  myProject 전체 데이터 list -->
	<select id="myProject" parameterType="projectsch" resultType="project">
	select * from (SELECT rownum rm, d.DNAME,p.SUBJECT,p.tlid ,p.PRJNO,m.PART, c.cnt
	FROM  PROJECT p, PROJECTMEMBER m, dept d,
	(SELECT prjno,COUNT(*) cnt FROM projectmember GROUP BY prjno) c
	WHERE 1=1 AND p.PRJNO =m.PRJNO AND m.OWNER =#{owner}
	AND d.DEPTID =p.DEPTID AND c.prjno=p.PRJNO
	<if test='isCon!=null and isCon.equals("Y")'>
			and to_date(p.deadline,'yyyy-mm-dd')>=TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd') 
	</if>
	<if test='isCon!=null and isCon.equals("N")'>
			and TO_date(to_char(sysdate,'yyyy-mm-dd'),'yyyy-mm-dd')>to_date(p.deadline,'yyyy-mm-dd')
	</if>
	AND lower(p.subject) LIKE '%'||lower(#{keyword})||'%')
	where rm between #{start} and #{end}
	</select>
	<select id="memberList" parameterType="int" resultType="pmList">
	SELECT d.dname,e.job, m.part, e.ename, e.id FROM dept d, emp e, projectmember m
	WHERE m.prjno=#{prjno} AND m.owner=e.id AND e.deptid=d.deptid
	ORDER BY 
	  CASE 
	    WHEN m.part LIKE '담당PM' THEN 0 
	    ELSE 1
	  END, 
	  m.part ASC
	</select>
	
	<update id="uptProInfo" parameterType="project">
	update project set subject=#{subject}, regdte=#{regdte},
	 deadline=#{deadline}, deptid=#{deptid}, openStatus=#{openStatus} where prjno=#{prjno} 
	</update>
	<delete id="delProject" parameterType="int">
	delete from project where prjno=#{prjno}
	</delete>
	
</mapper>