<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.SuperDept_Dao">
	<select id="superDeptList" resultType="superdept" parameterType="deptsch">
		select *
		from (
			select rownum cnt, level, s.*
			from dept s
			where 1=1
			START WITH parentdept IS null
			CONNECT BY PRIOR deptid =parentdept
			ORDER siblings BY deptid)
		WHERE dname NOT LIKE '최고경영진' and cnt between #{start} and #{end}	
	</select>
	<select id="totCnt" resultType="int" parameterType="deptsch">
		select count(*)
		from dept	
	</select>
	<select id="getParentDeptComb" resultType="deptcode">
      	SELECT DISTINCT d.deptid key, d.dname val
		FROM dept d
		WHERE parentDept IS NULL
		AND dname NOT LIKE '최고경영진'          
   </select>
	<insert id="insertDept" parameterType="superdept">	
		INSERT INTO dept 
		values(deptid_seq.nextval, #{dname}, #{parentDept})
	</insert>
	<select id="dnameChk" resultType="superdept" parameterType="String">
		SELECT * 
		FROM dept
		WHERE dname=#{dname}
	</select>
	<select id="deptidChk" resultType="superdept" parameterType="String">
		SELECT * 
		FROM dept
		WHERE deptid=#{deptid}
	</select>
	<delete id="deleteDept" parameterType="String">
		DELETE FROM dept WHERE deptid=#{deptid}
	</delete>
</mapper>