<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  

<mapper namespace="superPms.dao.Work_Dao">
	<select id="getWorkList" resultType="work">
		select *
		from (
			select rownum cnt, w.*
			from work w
			where 1=1
			and subject like '%'||#{subject}||'%'
			and id like '%'||#{id}||'%'
			ORDER BY WORKNO DESC)
		where cnt between #{start} and #{end}
	</select>
	<select id="schWork" parameterType="worksch" resultType="work">
		select *
		from (
			select rownum cnt, w.*
			from work w
			where 1=1
			and subject like '%'||#{subject}||'%'
			and id like '%'||#{id}||'%')
		where cnt between #{start} and #{end}
	</select>
	<select id="getWork" resultType="work" parameterType="int">
		SELECT * FROM WORK
		WHERE WORKNO = #{WORKNO}
	</select>
	<insert id="insFile" parameterType="workFile">
		INSERT INTO FILES VALUES(files_seq.nextval,#{fname},sysdate,sysdate,#{path})
	</insert>
	<insert id="insWork" parameterType="work">
		<if test= "fname != null and !fname.equals('')">
			INSERT INTO WORK VALUES (work_seq.nextVal,#{regdte},
				#{enddte},#{subject},#{cont},#{id},#{prjno},files_seq.currval,null)
		</if>
		<if test= "fname == null or fname.equals('')">
			INSERT INTO WORK VALUES (work_seq.nextVal,#{regdte},
				#{enddte},#{subject},#{cont},#{id},#{prjno},null,null)
		</if>
	</insert>
	<update id="uptWork" parameterType="work">
		update work
		set regdte = #{regdte},
			enddte = #{enddte},
			cont = #{cont}
		WHERE WORKNO = #{WORKNO}
	</update>
	<delete id="delWork" parameterType="int">
		delete
		from work
		where WORKNO=#{WORKNO}
	</delete>
	<!-- 페이징 -->
	<select id="totCnt" resultType="int" parameterType="worksch">
		select count(*)
		from work
		where 1=1
		and subject like '%'||#{subject}||'%'
		and id like '%'||#{id}||'%'	
	</select>
	<!-- 답글 -->
	<select id="getWorkRepList" resultType="workrep" parameterType="string">
		SELECT w.*, e.ENAME 
		FROM WORKREP w, EMP e 
		WHERE WORKNO = #{WORKNO}
		AND w.id = e.id
		ORDER BY no
	</select>
	<select id="getFileList" parameterType="string" resultType="workfile">
		SELECT w.NO, f.*
		FROM WORKREP w, FILES f
		WHERE w.FNO = f.FNO(+)
		AND w.WORKNO = #{WORKNO}
		ORDER BY NO
	</select>
	<select id="fileInfo" parameterType="int" resultType="workfile">
		SELECT *
		FROM FILES f
		WHERE FNO = #{FNO}
	</select>
	<insert id="insWorkRep" parameterType="workrep">
		INSERT INTO WORKREP VALUES (workrep_seq.nextVal,null,
			#{cont},sysdate,sysdate,#{id},null,#{workno})
	</insert>
	<insert id="insWorkRepFile" parameterType="workrep">
		INSERT INTO WORKREP VALUES (workrep_seq.nextVal,null,
			#{cont},sysdate,sysdate,#{id},files_seq.currval,#{workno})
	</insert>
	<delete id="delWorkRep" parameterType="int">
		delete
		from workrep
		where NO=#{no}
	</delete>
	<!-- gantt -->
	<select id="showGantt" resultType="gantt" parameterType="ganttsch">
		SELECT *
		FROM (SELECT rownum cnt, g.* 
			FROM (SELECT * FROM gantt ORDER BY START_date desc) g, project p 
			WHERE g.PRJNO = p.PRJNO
			AND p.prjno=#{prjno}
			AND g.text like '%'||#{text}||'%')
		WHERE cnt BETWEEN #{start} and #{end}
	</select>
	<select id="totGanttCnt" resultType="int" parameterType="ganttsch">
		SELECT count(*) 
		FROM gantt g, project p 
		WHERE g.PRJNO =p.PRJNO 
		AND p.prjno=#{prjno}
		AND g.text like '%'||#{text}||'%'
	</select>
	<select id="projectInfo" resultType="project" parameterType="int">
		SELECT *
		from project p
		where prjno=#{prjno}
	</select>
	<select id="personInfo" resultType="superempdept" parameterType="string">
		SELECT DISTINCT e.* 
		FROM GANTT g, PROJECTMEMBER p, EMP e 
		WHERE g.OWNER = e.ENAME
		AND e.ID = p.OWNER
		AND g.id = #{id}
	</select>
	<select id="prjMemList" resultType="prjowner" parameterType="int">
		SELECT DISTINCT OWNER 
		FROM GANTT
		WHERE PRJNO = #{prjno}
	</select>
	<select id="ganttDetail" parameterType="gantt" resultType="gantt">
		SELECT g1.*,to_char(to_date(g1.START_DATE,'yyyy-mm-dd') + g1.duration,'yyyy-mm-dd') AS end_date,
		g2.text AS parentText from gantt g1 LEFT join gantt g2 ON g1.PARENT =g2.ID where g1.prjno=#{prjno} AND g1.id=#{id}
	</select>
	<select id="ganttDetailExp" parameterType="string" resultType="gantt">
		SELECT g.*, to_char(to_date(g.START_DATE,'yyyy-mm-dd') + g.duration,'yyyy-mm-dd') AS end_date
		FROM GANTT g
		WHERE id = #{id}
	</select>
	<!-- 결재 -->
	<update id="reqApprove" parameterType="string">
		UPDATE GANTT
		SET
			state = 1
		WHERE ID = #{id}
	</update>
	<update id="rejApprove" parameterType="string">
		UPDATE GANTT
		SET
			state = 0
		WHERE ID = #{id}
	</update>
	<update id="approve" parameterType="string">
		UPDATE GANTT
		SET
			apprv = 1
		WHERE ID = #{id}
	</update>
	<!-- 결재 리스트 -->
	<select id="getReqApprvList" resultType="gantt" parameterType="ganttsch">
		SELECT *
		FROM (SELECT rownum cnt, g.* 
			FROM gantt g, project p 
			WHERE g.PRJNO =p.PRJNO
			AND p.prjno=#{prjno}
			AND g.state=1
			AND g.apprv=0
			AND g.text like '%'||#{text}||'%'
			)
		WHERE cnt BETWEEN #{start} and #{end}
		ORDER BY START_date
	</select>
	<select id="totReqApprvCnt" resultType="int" parameterType="ganttsch">
		SELECT count(*) 
		FROM gantt g, project p 
		WHERE g.PRJNO =p.PRJNO 
		AND p.prjno=#{prjno}
		AND g.state=1
		AND g.apprv=0		
		AND g.text like '%'||#{text}||'%'
	</select>
	<select id="getApprvList" resultType="gantt" parameterType="ganttsch">
		SELECT *
		FROM (SELECT rownum cnt, g.* 
			FROM (SELECT * FROM gantt ORDER BY START_date desc) g, project p  
			WHERE g.PRJNO =p.PRJNO
			AND p.prjno=#{prjno}
			<if test='isApprv!=null and isApprv.equals("n")'>
			AND g.state=1
			AND g.apprv=0
			</if>
			<if test='isApprv!=null and isApprv.equals("y")'>
			AND g.apprv=1
			</if>
			AND g.text like '%'||#{text}||'%'
			)
		WHERE cnt BETWEEN #{start} and #{end}
		ORDER BY START_date desc
	</select>
	<select id="totApprvCnt" resultType="int" parameterType="ganttsch">
		SELECT count(*) 
		FROM gantt g, project p 
		WHERE g.PRJNO =p.PRJNO 
		AND p.prjno=#{prjno}
		<if test='isApprv!=null and isApprv.equals("y")'>
			AND g.apprv=1
		</if>
		<if test='isApprv!=null and isApprv.equals("n")'>
			AND g.state=1
			AND g.apprv=0
		</if>
		AND g.text like '%'||#{text}||'%'
	</select>
	<update id="progress" parameterType="gantt">
		UPDATE gantt 
			SET progress=#{progress}
		WHERE id=#{id}
	</update>
</mapper>